@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.shimmer-button {
  background-color: #000; /* solid black background */
  position: relative;
  overflow: hidden;
  color: white; /* text color */
}

.shimmer-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  height: 100%;
  width: 150%;
  background: linear-gradient(
    110deg,
    transparent 0%,
    rgba(255, 255, 255, 0.2) 50%,
    transparent 100%
  );
  animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}

@keyframes thinGreySlide {
  0% {
    background-position: 150% 0%;
  }
  100% {
    background-position: -150% 0%;
  }
}

.moving-grey-gradient {
  background: linear-gradient(
    135deg,
    #1f1f1f 0%,
    #1f1f1f 50%,
    #454545 65%,
    #1f1f1f 70%,
    #1f1f1f 110%
  );
  background-size: 300% 100%;
  animation: thinGreySlide 6s linear infinite;
}




